.Post {
    display: grid;
    grid-column: auto;
    width: 80%;
    border-radius: 10px;
}

.News {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.none {
    display: none;
}

.PostContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 30px 0px 30px;
    align-items: flex-start;
    flex-direction: column;
}

.ButtonNewPost {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 4;
    bottom: 8px;
    right: 8px;
    width: 60px;
    height: 60px;
    background-color: #1A0C31;
    border-radius: 50%;
    transition: all 1s;
}

.ButtonNewPost:hover {
    width: 100px;
    height: 100px;
    transition: all 1s;
}

.ButtonNewPost img {
    width: 50px;
    color: #2C2E57;
    transition: all 1s;
}

.ButtonNewPost img:hover {
    width: 80px;
    transition: all 1s;
}

.NewPost {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    
    pointer-events: none;
    opacity: 0;
    
    transition: opacity 0.2s ease-in-out;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
}

.NewPost.visible {
    pointer-events: all;
    opacity: 1;
}

.CloseButton {
    align-self: flex-end;
}

.NewPost > form {
    background-color: #0f1536;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
}

.AddNewPost {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70vw;
    height: 30vh;
    resize: none;
    padding: 20px;
    background-color: #16193e;
    color: #3f459b;
    border-style: none;
    border-radius: 15px;
}

.Message {
    color: #282c61;
}

.NewPost h3 {
    color: #5E63CB;
}

.NewPost > form > input[type="file"] {
    color: white;
}

.AddPost {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    padding: 10% 20%;
    background-color: #0c0d53;
    color: #8489F8;
    font-size: 18px;
    font-weight: bold;
    border-style: none;
    border-radius: 15px;
}