.Menu {
    width: 70px;
    height: 70px;
}

.Bars {
    margin-top: 15px;
}

.bar {
    padding: 3px 20px 3px 20px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: #3f459b;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0%, 100%{
        background-color: #5810c3;
    }
    33%{
        background-color: #35389B;
    }
    66%{
        background-color: #798AEB;
    }
}

.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px 0px;
    background-color: #260A51;
    position: fixed;
    right: 0;
    transition: 0.5s;
    z-index: 6;
}

.Slide {
    right: -100vw;
}

.ElementSidebar {
    width: 60vw;
    height: 10vh;
}

.ElementSidebar:hover {
    color: #A3AFF5;
}

.LogoutSidebar {
    color: #14153B;
}