@import url("home.css");
@import url("post.css");
@import url("profil.css");
@import url("sidebar.css");
@import url("tags.css");
@import url("delete.css");
@import url("signup.css");

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;    
    background: linear-gradient(180deg, #260A51, #291b54 75%, #2C2E57 100%);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, p {    
    font-family: 'Arial', Arial, Helvetica, sans-serif;
}

h1 {
    color: #35389B;
}

h2 {
    color: #B3B5E5;
}

h3 {
    color: #798AEB;
}

h4 {
    color: #A3AFF5;
}

h5 {
    color: #8891C6;
    font-size: 14px;
}

p{
    color: #505678;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    gap: 25px;
    background: linear-gradient(0deg, #260A51, #211730 100%);
}

.ProfilPicture {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.TitleMangaMind {
    animation: changing-color 5s infinite;
}

@keyframes changing-color {
    0%, 100%{
        color: #5810c3;
    }
    33%{
        color: #35389B;
    }
    66%{
        color: #798AEB;
    }
}